@import "~react-date-range/dist/styles.css";
@import "~react-date-range/dist/theme/default.css";
@import "components/timeline/timeline.css";
.App {
  text-align: center;
}

body {
  font-family: "Oswald";
  background: #f4f4f4;
}

h1 {
  font-size: 48px;
  margin: 20px;
}

p {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0.5px;
}

img {
  margin: 10px;
  object-fit: cover;
  border-radius: 15px;
}

hr {
  margin: 20px 30%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-bottom: 30px;
  background: #FFF;
  border-radius: 25px;
}

.Gallery {
  margin: 0 12%;
  padding: 10px;
}

.column-right {
  padding: 0 30px;
}

button {
  margin-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  color: #000;
  padding: 20px;
  background: none;
  margin-top: 20px;
}

button:hover {
  background: #000;
  color: #FFF;
  cursor: pointer;
}

input {
  width: 300px;
  height: 20px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid;
}

.notification{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  cursor: pointer;
}

div #basic-menu{
  float: right;
  margin-right: 50px;
}

.users-list{
  display: flex;
  margin-left: 100px;
}

.action{
  margin-top: 10px;
  margin-left: 5px;
}

.sidebar{
  height: 100vh;
  width: 250px;
  background-color: #2F4050;
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-list .row {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 0%;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2F4050;
  color: white;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.sidebar-list .row #active {
  background-color: #293846;
}

hr {
  color: #FFF;
}

.data {
  margin-top: 20px;
  margin-right: 20px;
}

.rdrDays button:hover {
  background-color: #f4f4f4;
}
